div.diffOutput {
	border-top:1px solid darkgray;
	border-bottom:1px solid darkgray;
	border-right:1px solid darkgray;
	overflow: hidden;
	margin-top: 1em;
	margin-bottom: 1em;
	width:100%;
}

div.fileHeader{
	width: 100%;
	border-collapse: collapse;
	overflow: hidden;
}

div.changeHeader{
	width: 100%;
	border-top: 1px solid darkgray;
	border-bottom: 1px solid darkgray;
	border-collapse: collapse;
	overflow: hidden;
}

div.changeHeader:hover{
	cursor: pointer;
}


div.changeHeader.collapsed:after{
	font-family: webdings;
	font-size: 11pt;
	content: "\36";
	float:right;
	color: grey;
}

div.diffOutput div.codeList {
	font-family:Courier, monospace;
	overflow: hidden;
	width:100%;
}

div.codeList div.codeSide{
	float: left;
	overflow: hidden;
	padding-bottom: 100%;
	margin-bottom: -100%;
	width: 50%;
}

div.lineNumber {
	font-family:verdana,arial,
		'Bitstream Vera Sans',helvetica,sans-serif;
	background:#EED;
	font-size:11px;
	font-weight:normal;
	border-left:1px solid darkgray;
	border-right:1px solid darkgray;
	border-bottom:1px solid darkgray;
	color:#886;
  padding:.3em .5em .1em .5em;
	text-align:right;
	vertical-align:top;
  width:4em;
	display: inline;
	list-style-type: none;
	float: left;
	padding-bottom: 100%;
	margin-bottom: -100%;
}

div.fileTitle {
	text-align:center;
	word-wrap: break-word;
	float: left;
	width: 50%;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 100%;
	margin-bottom: -100%;
	background:#EFEFEF;
	font-family:Verdana;
	font-weight: bold;
	border-left: 1px solid darkgray;
	border-collapse: collapse;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

div.codeTitle {
	text-align:center;
	word-wrap: break-word;
	float: left;
	width: 50%;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 100%;
	margin-bottom: -100%;
	background:#EFEFEF;
	font-family:Verdana;
	font-weight: normal;
	border-left: 1px solid darkgray;
	border-collapse: collapse;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

div.dirTitle {
	width: 	100%;
	text-align:left;
  word-wrap: break-word;
	float: left;
	border:1px solid darkgray;
	padding-left: 1em;
	padding-right: 1em;
	background:#EFEFEF;
  font-family:Verdana;
	font-weight: normal;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

div.dirDiff {
	overflow: hidden;
	margin-bottom: 1em;
	width:100%;
}

div.equal{
	background-color: #FFF;
	padding-bottom: 100%;
	margin-bottom: -100%;
	overflow: hidden;
}

div.codeList div pre {
  padding: .1em .5em .1em 1em;
	vertical-align:top;
  margin: 0;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
	display: inline-block;
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

div.empty {
	background-color:#DDD;
	padding-bottom: 100%;
	margin-bottom: -100%;
	overflow: hidden;

}
div.replace {
	background-color:#FD8;
	padding-bottom: 100%;
	margin-bottom: -100%;
	overflow: hidden;

}
div.delete {
	background-color:#E99;
	padding-bottom: 100%;
	margin-bottom: -100%;
	overflow: hidden;

}
div.skip {
	background-color:#EFEFEF;
	border:1px solid #AAA;
	border-right:1px solid #BBC;
	float: left;
	padding-bottom: 100%;
	margin-bottom: -100%;
	overflow: hidden;

}
div.insert {
	background-color:#9E9;
	padding-bottom: 100%;
	margin-bottom: -100%;
	overflow: hidden;

}
