div.diffoutput {
	border:1px solid darkgray;
  width:100%;
  overflow: hidden;
}
div.diffoutput div.codeList {
	font-family:Courier, monospace
}
div.diffoutput div.codeList td.lineNumbers {
	font-family:verdana,arial,'Bitstream Vera Sans',helvetica,sans-serif;
	background:#EED;
	font-size:11px;
	font-weight:normal;
	border:1px solid #BBC;
	color:#886;
  padding:.3em .5em .1em 1em;
	text-align:right;
	vertical-align:top;
  width:5em;
}
table.diff thead {
	border-bottom:1px solid #BBC;
	background:#EFEFEF;
	font-family:Verdana
}
div.diffoutput div.texttitle {
	text-align:center;
  word-wrap: break-word;
  float: left;
  width: 50%;
  background:#EFEFEF;
  font-family:Verdana;
  border-bottom:1px solid #BBC;
}

table.diff.tbody td {
  width: 50%;
}
table.diff tbody td pre {
  padding:.2em .5em .1em 1em;
	vertical-align:top;
  margin: 0;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */

}
table.diff .empty {
	background-color:#DDD;
}
table.diff .replace {
	background-color:#FD8
}
table.diff .delete {
	background-color:#E99;
}
table.diff .skip {
	background-color:#EFEFEF;
	border:1px solid #AAA;
	border-right:1px solid #BBC;
}
table.diff .insert {
	background-color:#9E9
}
table.diff th.author {
	text-align:right;
	border-top:1px solid #BBC;
	background:#EFEFEF;
}
